img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 8px;
}

.product {
    height: 508px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin: 7px;
}
.product-name {
    Font-family: Lato;
    Font-style: Regular;
    Font-size: 21px;
    Line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    background-color: #FFE0B3;
    height: 48px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart:hover{
    background-color: orange;
}
.btn-cart p{
    margin-right: 10px;
}